.card {
    &-container {
        height: 325px;
        width: 225px;
        background-color: var(--dark-red);
        border-radius: 10px;
        border: 1px solid var(--light-grey);
        margin: 20px 20px 0px 0;
    }
}