.profile {
    &-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &-title {
        color: var(--smoke-white)
    }
    &-label {
        font-weight: 600;
        color: #ffc107
    }
    &-desc {
        font-size: 20px;
        color: var(--light-grey)
    }
    &-icon {
        height: 125px;
        width: 125px;
        margin: 40px 0 50px 0;
        filter: invert(1);
    }
    &-col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}